<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Forget Sleep Shopping Online
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" data-animate-hover="shake"></a>
                <a href="#"></a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li>
                        <a href="index.html" data-toggle="modal" data-target="">Logout</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="img/logo.jpg" alt="Obaju logo" class="hidden-xs">

                </a>

            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>MAN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">WOMEN
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>WOMEN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sexy</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">CHILD
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>CHILD</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">MASCOT
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>MASCOT</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->
    <div id="advantages">
        <div id="all">
            <div id="content">
                <div class="container">


                    <div class="box text-center" data-animate="fadeIn">
                        <div class="container">
                            <div class="col-md-12">
                                <br>
                                <h3 class="text-uppercase">
                                    <a href="http://localhost/ForgetSleep/IncreasePromotion.html">Increase Promotion</a>
                                </h3>

                                <p class="lead">Increase Promotion to your shop</p>
                                <div class="icon">
                                    <i class="fa fa-upload"></i>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="admin.html">Seller</a>
                            </li>
                            <li>
                                <a href="promotion.html">Promotion</a>
                            </li>
                            <li>Increase Promotion</li>
                        </ul>
                    </div>

                    <!-- /.col-md-9 -->

                    <!-- /.col-md-3 -->

                </div>
                <!-- /.container -->
            </div>
            <div id="content">
                <div class="container">
                    <div class="container">
                        <div class="col-md-6">
                            <div style="max-width: 650px; margin: auto;">
                                <h1 class="page-header">Image Promotion Upload</h1>
                                <p class="lead">Select a PNG or JPEG image, having maximum size
                                    <span id="max-size"></span> KB.</p>

                                <form action="api/promotion" method="post" enctype="multipart/form-data">
                                    <div id="image-preview-div" style="display: none">
                                        <label for="exampleInputFile">Selected image:</label>
                                        <br>
                                        <img id="preview-img" src="noimage">
                                    </div>
                                    <div class="form-group">
                                        <input type="file" name="image" id="file" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Product Name</label>
                                        <input type="text" class="form-control" id="name" name="nameProduct">

                                        <label for="details">Product Detail</label>
                                        <textarea id="message" class="form-control" name="detail"></textarea>

                                        <label for="details">Price</label>
                                        <input type="number" class="form-control" id="name" name="price">
                                    </div>
                                    <div class="text-center">
                                        <label for="fname">Category </label>
                                        <br>
                                        <input type="radio" name="category" value="men">Men
                                        <input type="radio" name="category" value="women">Women
                                        <input type="radio" name="category" value="kids">kids
                                        <input type="radio" name="category" value="mascot">Mascot
                                        <br>
                                        <br>
                                        <label for="fname">Type </label>
                                        <br>
                                        <input type="radio" name="type" value="pajamas">Pajamas
                                        <input type="radio" name="type" value="sleep_wear">Sleep wear
                                        <input type="radio" name="type" value="sexy">Sexy
                                        <br>
                                        <div class="form-group">
                                            <label for="name">Promotion Type</label>
                                            <select name="text">
                                                <!--Supplement an id here instead of using 'text'-->
                                                <option value="value1">Buy 1 Free 1</option>
                                                <option value="value2">Discount</option>
                                                <option value="value3" selected></option>
                                            </select>
                                            <input type="text" name="discount"><text>%
                                        </div>
                                        <br>
                                        <br>
                                        <button class="btn btn-primary">
                                            <i class="fa fa-upload"></i>Upload</button>

                                        <button class="btn btn-primary">
                                            <i class="fa fa-times"></i>Cancle Upload</button>
                                    </div>
                                </form>

                                <br>
                                <div class="alert alert-info" id="loading" style="display: none;" role="alert">
                                    Uploading image...
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 100%">
                                        </div>
                                    </div>
                                </div>
                                <div id="message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="upload-image.js"></script>
    <!-- /#content -->

    <!-- *** FOOTER ***
 _________________________________________________________ -->

    <!-- /#footer -->

    <!-- *** FOOTER END *** -->




    <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
    <div id="copyright">
        <div class="container">
            <div class="col-md-6">
                <p class="pull-left">© 2018 Your name goes here.</p>

            </div>
            <div class="col-md-6">
                <p class="pull-right">
                    </a>
                    <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                </p>
            </div>
        </div>
    </div>
    <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->




    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script language="javascript" src="js/jquery-1.4.1.min.js"></script>




</body>

</html>