<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Forget Sleep Shopping Online
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body>
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    

    <!-- *** TOP BAR END *** -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#"  data-animate-hover="shake"><font color="#ffffff"></font></a>  <a href="#">                       </a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li><a href="#" data-toggle="modal" data-target="#login-modal">Logout</a>
                    </li>
                    <li><a href="contact.html">Contact</a>
                    </li>
                    <li><a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="customer-orders.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <!-- *** NAVBAR ***
 _________________________________________________________ -->
    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="shake">
                    <img src="img/logo.jpg" alt="Obaju logo" class="hidden-xs">
                    
                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="basket.html">
                        <i class="fa fa-shopping-cart"></i>  <span class="hidden-xs">3 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->


            

            <div class="collapse clearfix" id="search">

               

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>

    
    
    
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->
    <div id="all">
    <div id="advantages">
            <div class="container">
        <div id="content">

        <div class="box text-center" data-animate="fadeInUp">
                <div class="container">
                    <div class="col-md-12">
                        
                        <h3 class="text-uppercase"><a href="#">Invoice</a></h3>

                        <p class="lead">Have a product in shop? <a href="#">My Product</a></p>
                        
                        
                    </div>
                    
                </div>
            </div>
            <div class="col-md-12">
                    <ul class="breadcrumb">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="admin.html">Seller</a>
                        </li>
                        <li>Invoice
                        </li>
                        
                    </ul>
            </div>
        </div>
            </div>
    </div>
            
            <div class="col-md-12" data-animate="fadeInUp">
                    <ul class="breadcrumb" >
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="container">
                               <div class="row">
                                
                                   <div class="col-md-6">
            
            
    		<div class="invoice-title">
                    <img src="favicon.png" alt="Forget Sleep Shopping Online" width="50" height="50">
    			<h2>Invoice</h2> 
                        <h3 class="pull-center">Order # 12345</h3>
                        <h3 class="pull-right">10 June 2018</h3>
                        
    		</div>
    		<hr>
    		<div class="row">
    			<div class="col-xs-7">
    				<address>
    				<strong>Customer ID: </strong> CS1122<br>
    				<strong>First Name: </strong>	Smith  <br/>
    				<strong>Last Name: </strong>	John <br>
    				<strong>Address: </strong>	99 Moo 18 Paholyothin Road, Klong Luang, Rangsit, <br>
                                Prathumthani 12121 Thailand <br>
    				<strong>Tel no: </strong> 098-7654321<br>
    				<strong>Email: </strong>  email.hotmail.com
	
    				</address>
    			</div>
    		</div>
    		
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-6">
    		<div class="panel panel-default">
    			<div class="panel-heading">
    				<h3 class="panel-title"><strong>Order summary</strong></h3>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><strong>Item</strong></td>
        							<td class="text-center"><strong>Price</strong></td>
        							<td class="text-center"><strong>Quantity</strong></td>
        							<td class="text-right"><strong>Totals</strong></td>
                                </tr>
    						</thead>
    						<tbody>
    							<!-- foreach ($order->lineItems as $line) or some such thing here -->
    							<tr>
    								<td>ชุดนอนหนึ่ง</td>
    								<td class="text-center">10.99</td>
    								<td class="text-center">1</td>
    								<td class="text-right">10.99</td>
    							</tr>
                                <tr>
        							<td>ชุดนอนสอง</td>
    								<td class="text-center">20.00</td>
    								<td class="text-center">3</td>
    								<td class="text-right">60.00</td>
    							</tr>
                                <tr>
                                                            <td>ชุดนอนสาม</td>
    								<td class="text-center">600.00</td>
    								<td class="text-center">1</td>
    								<td class="text-right">600.00</td>
    							</tr>
    							<tr>
    								<td class="thick-line"></td>
    								<td class="thick-line"></td>
    								<td class="thick-line text-center"><strong>Subtotal</strong></td>
    								<td class="thick-line text-right">670.99</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>VAT</strong></td>
    								<td class="no-line text-right">15</td>
    							</tr>
    							<tr>
    								<td class="no-line"></td>
    								<td class="no-line"></td>
    								<td class="no-line text-center"><strong>Total</strong></td>
    								<td class="no-line text-right">685.99</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
                                     
    		</div>
            </div>
    </div>          
    <br><br><br>
    <br>
            <div class="row">
    	<div class="col-md-6">
                    <div class="text-right">
                         <img src="a.png" alt="sales 2014" width="100" height="50" class="right">
                    </div>
                    <div class="col-md-12">
                        <p> 
                        <h5 class="pull-right">Bee Rita (admin)</h5><br>
                    </div>
                    
            <div class="navbar-buttons">
                   
                    <div class="navbar-collapse collapse right" id="point-overview">
                    <a href="#" class="btn btn-primary navbar-btn">
                        <i class="fa fa-upload"></i>
                        <span class="hidden-sm">Issue a Invoice to Customer</span>
                    </a>
                    </div>
                    
                </div>

        </div>
            </div>
</div>
                        </div></ul>
                    </div>                
                
                    <div class="row">
                
                  
                </div>
                
                 <div class="col-sm-6">
               <div class="row">
              
               
                
            </div>             
    </div>
            </div></div>


                </div>
                            <!-- /.product -->
                        </div>
                                
                                
                                
                                
                            </div>
                            
                            
                        </div>
                        
                        

                        


                    </div>
                    <!-- /#blog-homepage -->
                </div>
            </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->
      
        <!-- /#footer -->

        <!-- *** FOOTER END *** -->


        </div>_

        <!-- *** COPYRIGHT ***
 ________________________________________________________ -->
       
        <!-- *** COPYRIGHT END *** -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> & <a href="https://fity.cz">Fity</a>
                         <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>


    </div>
    <!-- /#all -->

    
    

    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>




</body>

</html>