<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Obaju : e-commerce template
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="myFunction()">
    <!-- *** TOPBAR ***
 _________________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">
                    <font color="#ffffff">Promotion</font>
                </a>
                <a href="#">Get flat 35% off on orders over $50!</a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li ng-if="isLogin == false">
                        <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                    </li>
                    <li ng-if="isLogin == false">
                        <a href="register.html">Register</a>
                    </li>
                    <li ng-if="isLogin == true">
                        <a>[[username]]</a>
                    </li>
                    <li ng-if="isLogin == true">
                        <a ng-click="logout()">Logout</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="/api/login" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email-modal" placeholder="email" name="username">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password-modal" placeholder="password" name="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-primary">
                                    <i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted">
                            <a href="register.html">
                                <strong>Register now</strong>
                            </a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- *** TOP BAR END *** -->

    <!-- *** NAVBAR ***
 _________________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="shake">
                    <img src="img/logo.jpg" alt="Obaju logo" class="hidden-xs">

                </a>
                <div class="navbar-buttons">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-align-justify"></i>
                    </button>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                    <a class="btn btn-default navbar-toggle" href="basket.html">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="hidden-xs">3 items in cart</span>
                    </a>
                </div>
            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">CATEGORY
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>MAN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>

                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>WOMEN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sexy</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>CHILD</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-3">
                                            <h5>MASCOT</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="navbar-buttons">

                <div class="navbar-collapse collapse right" id="basket-overview">
                    <a href="basket.html" class="btn btn-primary navbar-btn">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="hidden-sm">3 items in cart</span>
                    </a>
                </div>
                <!--/.nav-collapse -->

                <div class="navbar-collapse collapse right" id="search-not-mobile">
                    <button type="button" class="btn navbar-btn btn-primary" data-toggle="collapse" data-target="#search">
                        <span class="sr-only">Toggle search</span>
                        <i class="fa fa-search"></i>
                    </button>
                </div>

            </div>

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- *** NAVBAR END *** -->

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">

                    <ul class="breadcrumb">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>New account / Sign in</li>
                    </ul>

                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>New account</h1>

                        <p class="lead">Not our registered customer yet?</p>
                        <p>With registration with us new world of fashion, fantastic discounts and much more opens to you! The
                            whole process will not take you more than a minute!</p>
                        <p class="text-muted">If you have any questions, please feel free to
                            <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>

                        <hr>

                        <form action="/api/register" method="post">
                            <div class="form-group">
                                <label for="fname">Firstname</label>
                                <input type="text" class="form-control" id="fname" name="firstname">
                                <label for="fname">Lastname</label>
                                <input type="text" class="form-control" id="lname" name="lastname">
                            </div>
                            <label for="fname">Gender </label>
                            <input type="checkbox" name="sex" value="Female" name="gender">Female
                            <input type="checkbox" name="sex" value="Male" name="gender">Male
                            <br>
                            <div class="form-group">
                                Birthday:
                                <input type="date" name="bday" name="birthDay">
                            </div>
                            <div class="form-group">
                                <label for="text">Telephone No</label>
                                <input type="text" class="form-control" id="tel" name="tel">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email-register" name="username">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password-register" name="password">
                                <label for="cpassword">Confirm Password</label>
                                <input type="password" class="form-control" id="cpassword">
                            </div>
                            <div class="form-group">
                                <br>

                                <label for="text">Address</label>
                                <label for="text">Hose No.</label>
                                <input type="text" class="form-control" id="houseNo" name="addressHoseNo">
                                <label for="text">Village No.</label>
                                <input type="text" class="form-control" id="villageNo" name="villageNo">
                                <label for="text">Land</label>
                                <input type="text" class="form-control" id="land" name="land">
                                <label for="text">Road</label>
                                <input type="text" class="form-control" id="road" name="road">
                                <label for="text">Sub District</label>
                                <input type="text" class="form-control" id="subDistrict" name="subDistrict">
                                <label for="text">District</label>
                                <input type="text" class="form-control" id="district" name="district">
                                <label for="text">Province</label>
                                <input type="text" class="form-control" id="province" name="province">
                                <label for="text">Zip Code</label>
                                <input type="text" class="form-control" id="zipCode" name="zipCode">


                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-user-md"></i> Register</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="box">
                        <h1>Login</h1>

                        <p class="lead">Already our customer?</p>
                        <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
                            tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
                            egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

                        <hr>

                        <form action="customer-orders.html" method="post">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="text" class="form-control" id="email">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password">
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">
                                    <i class="fa fa-sign-in" href="#"></i> Log in</button>
                            </div>
                        </form>
                    </div>
                </div>


            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


        <!-- *** FOOTER ***
 _________________________________________________________ -->

        <!-- /#footer -->

        <!-- *** FOOTER END *** -->




        <!-- *** COPYRIGHT ***
 _________________________________________________________ -->
        <div id="copyright">
            <div class="container">
                <div class="col-md-6">
                    <p class="pull-left">© 2015 Your name goes here.</p>

                </div>
                <div class="col-md-6">
                    <p class="pull-right">Template by
                        <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> &
                        <a href="https://fity.cz">Fity</a>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>
                </div>
            </div>
        </div>
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->




    <!-- *** SCRIPTS TO INCLUDE ***
 _________________________________________________________ -->
    <script src="js/jquery-1.11.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.cookie.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/modernizr.js"></script>
    <script src="js/bootstrap-hover-dropdown.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/front.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</body>


<script>
    var app = angular.module('myApp', []);

    app.config(function ($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = 'csrftoken';
        $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
    });
    app.config(function ($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });

    app.controller('myCtrl', function ($scope, $http, $location, $window) {
        $scope.myFunction = function () {
            $http.get("api/islogin")
                .then(function (response) {
                    //First function handles success
                    console.log(response)
                    $scope.isLogin = true
                    $scope.username = response.data.username
                }, function (response) {
                    //Second function handles error
                    $scope.isLogin = false
                });
        }
        
        $scope.logout = function () {
            $http.get("api/logout")
                .then(function (response) {
                    //First function handles success
                    $scope.isLogin = false
                    window.location.reload(true)
                }, function (response) {
                    //Second function handles error
                    $scope.isLogin = true
                });
        }
    });
</script>

</html>