<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Obaju e-commerce template">
    <meta name="author" content="Ondrej Svestka | ondrejsvestka.cz">
    <meta name="keywords" content="">

    <title>
        Forget Sleep Shopping Online
    </title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100' rel='stylesheet' type='text/css'>

    <!-- styles -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
    <link href="css/owl.carousel.css" rel="stylesheet">
    <link href="css/owl.theme.css" rel="stylesheet">

    <!-- theme stylesheet -->
    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">

    <!-- your stylesheet with modifications -->
    <link href="css/custom.css" rel="stylesheet">

    <script src="js/respond.min.js"></script>

    <link rel="shortcut icon" href="favicon.png">



</head>

<body ng-app="myApp" ng-controller="myCtrl" ng-init="myFunction()">
    <!-- * TOPBAR *
 _______________________________________________________ -->
    <div id="top">
        <div class="container">
            <div class="col-md-6 offer" data-animate="fadeInDown">
                <a href="#" data-animate-hover="shake"></a>
                <a href="#"></a>
            </div>
            <div class="col-md-6" data-animate="fadeInDown">
                <ul class="menu">
                    <li>
                        <a href="index.html" data-toggle="modal" data-target="">Logout</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li>
                        <a href="#">Recently viewed</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>

    <!-- * TOP BAR END * -->

    <!-- * NAVBAR *
 _______________________________________________________ -->

    <div class="navbar navbar-default yamm" role="navigation" id="navbar">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                    <img src="img/logo.jpg" alt="Obaju logo" class="hidden-xs">

                </a>

            </div>
            <!--/.navbar-header -->

            <div class="navbar-collapse collapse" id="navigation">

                <ul class="nav navbar-nav navbar-left">
                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">Men
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>MAN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.yamm-content -->
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">WOMEN
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>WOMEN</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Pajamas</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>
                                                <li>
                                                    <a href="category.html">Sexy</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>

                            </li>
                        </ul>
                    </li>

                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">CHILD
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>CHILD</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown yamm-fw">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">MASCOT
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="yamm-content">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h5>MASCOT</h5>
                                            <ul>
                                                <li>
                                                    <a href="category.html">Sleep wear</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>


                </ul>

            </div>
            <!--/.nav-collapse -->

            <div class="collapse clearfix" id="search">

                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">

                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-search"></i>
                            </button>

                        </span>
                    </div>
                </form>

            </div>
            <!--/.nav-collapse -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#navbar -->

    <!-- * NAVBAR END * -->
    <div id="advantages">
        <div id="all">
            <div id="content">
                <div class="container">


                    <div class="box text-center" data-animate="fadeIn">
                        <div class="container">
                            <div class="col-md-12">
                                <br>
                                <h3 class="text-uppercase">
                                    <a href="http://localhost/ForgetSleep/RemoveProduct.html">Remove Promotion</a>
                                </h3>

                                <p class="lead">Remove Promotion to your shop</p>
                                <div class="icon">
                                    <i class="fa fa-trash-o"></i>
                                </div>
                                <br>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>
                                <a href="admin.html">Seller</a>
                            </li>
                            <li>
                                <a href="promotion.html">Promotion</a>
                            </li>
                            <li>Remove Promotion</li>
                        </ul>
                    </div>


                    <div class="col-md-9" id="basket">

                        <div class="box">

                            <form method="post" action="checkout1.html">

                                <h1>My Promotion</h1>
                                <p class="text-muted">Promotion in my shop.</p>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th colspan="2">Product</th>
                                                <th>Price</th>

                                            </tr>
                                        </thead>
                                        <tbody id="myTbl">
                                            <tr ng-repeat="promotion in listPromotion">
                                                <td>
                                                    <a href="#">
                                                        <img ng-src="pic/[[promotion.image]]" onerror="this.src='pic/promotion_image_not_found.gif'" alt="" class="img-responsive">
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#">[[promotion.nameProduct]]</a>
                                                </td>
                                                <td>[[promotion.price]]</td>
                                                <td>
                                                    <button ng-confirm-click="Are you sure to delete this promotion ?" confirmed-click="remove(promotion._id)" id="removeRow" class="btn btn-primary"
                                                        type="button">
                                                        <i class="fa fa-trash-o"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>

                                    </table>

                                </div>
                                <!-- /.table-responsive -->



                            </form>

                        </div>
                        <!-- /.box -->





                    </div>
                    <!-- /.col-md-9 -->

                    <div class="col-md-3">
                        <div class="box" id="order-summary">
                            <div class="box-header">
                                <h3>Confirm Setting</h3>
                            </div>
                            <p class="text-muted">Did you confirm your setting?</p>

                            <form>
                                <div class="input-group">



                                    <span class="input-group-btn">

                                        <button class="btn btn-primary" type="button">
                                            <i class="fa fa-check-square-o"></i>
                                        </button>

                                    </span>
                                </div>
                                <!-- /input-group -->
                            </form>

                        </div>




                    </div>
                    <!-- /.col-md-3 -->

                </div>
                <!-- /.container -->
            </div>
            <!-- /#content -->

            <!-- * FOOTER *
 _______________________________________________________ -->

            <!-- /#footer -->

            <!-- * FOOTER END * -->




            <!-- * COPYRIGHT *
 _______________________________________________________ -->
            <div id="copyright">
                <div class="container">
                    <div class="col-md-6">
                        <p class="pull-left">© 2015 Your name goes here.</p>

                    </div>
                    <div class="col-md-6">
                        <p class="pull-right">Template by
                            <a href="https://bootstrapious.com/e-commerce-templates">Bootstrapious</a> &
                            <a href="https://fity.cz">Fity</a>
                            <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding 🙂 If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                        </p>
                    </div>
                </div>
            </div>
            <!-- * COPYRIGHT END * -->



        </div>
        <!-- /#all -->




        <!-- * SCRIPTS TO INCLUDE *
 _______________________________________________________ -->
        <script src="js/jquery-1.11.0.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.cookie.js"></script>
        <script src="js/waypoints.min.js"></script>
        <script src="js/modernizr.js"></script>
        <script src="js/bootstrap-hover-dropdown.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/front.js"></script>
        <script language="javascript" src="js/jquery-1.4.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </body>
    <script>
        var app = angular.module('myApp', []);
    
        app.config(function ($httpProvider) {
            $httpProvider.defaults.xsrfCookieName = 'csrftoken';
            $httpProvider.defaults.xsrfHeaderName = 'X-CSRFToken';
        });
        app.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        });
    
        app.directive('ngConfirmClick', [
            function () {
                return {
                    link: function (scope, element, attr) {
                        var msg = attr.ngConfirmClick || "Are you sure?";
                        var clickAction = attr.confirmedClick;
                        element.bind('click', function (event) {
                            if (window.confirm(msg)) {
                                scope.$eval(clickAction)
                            }
                        });
                    }
                };
            }
        ])
    
        app.controller('myCtrl', function ($scope, $http, $location, $window) {
    
            $scope.getPromotion = function (category, type) {
                var data
                if (category == "" && type == "") {
                    data = {}
                } else {
                    data = {
                        "category": category,
                        "type": type
                    }
                }
    
                $http({
                        method: 'POST',
                        url: "api/promotion/categories",
                        data: JSON.stringify(data)
                    })
                    .then(function (response) {
                        //First function handles success
                        $scope.listPromotion = response.data.promotion
                        console.log($scope.listPromotion)
                    }, function (response) {
                        //Second function handles error
                        console.log(response)
                    });
            }
    
            $scope.myFunction = function () {
                $http.get("api/islogin")
                    .then(function (response) {
                        //First function handles success
                        console.log(response)
                        $scope.isLogin = true
                        $scope.username = response.data.username
                    }, function (response) {
                        //Second function handles error
                        $scope.isLogin = false
                    });
                $scope.getPromotion("", "")
            }
    
            $scope.remove = function (id) {
                $http.delete("api/promotion/" + id)
                    .then(function (response) {
                        //First function handles success
                    }, function (response) {
                        //Second function handles error
    
                    });
                $scope.getPromotion("", "")
            }
        });
    </script>
    
    </html>